<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
    <body>
        <h2>Ejemplos de rutas:</h2>

        <h3> Para obtener todos los productos detalladamemnte: </h3>
        <p>http://localhost:8000/api/v1/productsmongo/</p>

        <h3>Para ver resumen de todos los productos</h3>
        <p> http://localhost:8000/api/v1/views/productsmongo/</p>

         <h3>Para ver resumen de todos los carritos</h3>
        <p> http://localhost:8000/api/v1/views/cartsmongo/</p>

        <h3> Para la paginacion desde mongo atlas con limit, sort y query: </h3>
        <p>http://localhost:8000/api/v1/views/productsmongopage?page=1&limit=3&sort={"code":1}&query={"description": "Desde fromulario con socket"}</p>

        {{{body}}}

    </body>
</html>